@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Light.ttf') format('truetype');
    font-weight: 300;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: 700;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('../fonts/RobotoCondensed-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'BambusLight';
    src: url('../fonts/BambusLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}