@import 'fonts';
@import 'variables';
@import 'common';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html, body {
    font-family: 'RobotoCondensed', sans-serif;
    @media (max-width: 560px) {
        overflow-x: hidden;
    }
}

.sensi {
    &-header {
        padding-top: 15px;
        background-color: rgba(#fff, 1);
        &.fixed {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            background-color: rgba(#fff, .8);
            z-index: 1003;
        }
    }
    .navbar {
        padding: 0;
        text-transform: uppercase;
        font-size: $font-18;
        text-shadow: 0 0 1px rgba($text, .5);
        &-brand {
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 0;
            img {
                height: 85px;
            }
        }
        .nav-item:not(.nav-social) {
            margin-right: 30px;
            a {
                padding-left: 15px;
                padding-right: 15px;
                color: $text;
                @include sensi-link;
                &:hover {
                    color: $text;
                }
                @media (max-width: 560px) {
                    text-align: center;
                }
            }
        }
        .nav-social {
            margin-right: 10px;
            a {
                padding: 0;
                @media (max-width: 560px) {
                    padding: 15px;
                    text-align: center;
                }
            }
        }
    }

    &-banner {
        background: url('../images/banner.png') no-repeat center;
        background-size: cover;
        &-main {
            padding-top: 100px;
            padding-bottom: 80px;
        }
        &-title {
            font-size: $font-42;
            text-shadow: 0 0 1px rgba($text, .5);
            text-transform: uppercase;
            span {
                display: block;
                font-family: 'BambusLight', sans-serif;
                text-transform: initial;
                margin-top: 5px;
            }
            @media (max-width: 560px) {
                font-size: 36px;
            }
        }
        &-list {
            margin-top: 40px;
            list-style-type: none;
        }
        &-item {
            text-shadow: 0 0 1px rgba($text, .5);
            margin-bottom: 25px;
            &-count {
                display: block;
                font-size: $font-60;
            }
            &-text {
                font-size: $font-18;
            }
        }
    }

    &-firstSection {
        padding-bottom: 50px;
        &-title {
            font-size: 28px;
            text-shadow: 0 0 1px rgba($text, .5);
            text-transform: uppercase;
            span:not(.number) {
                display: block;
                font-family: 'BambusLight', sans-serif;
                text-transform: initial;
                margin-top: 5px;
                font-size: 46px;
            }
            .number {
                font-size: 46px;
            }
        }
        &-list {
            list-style-type: none;
            margin-top: 20px;
        }
        &-item {
            font-weight: 300;
            font-size: 20px;
            margin-bottom: 10px;
            span {
                font-weight: 700;
                color: #ff0000;
            }
            @media (max-width: 560px) {
                font-size: 16px;
            }
        }
        img {
            width: 100%;
        }
    }

    &-secondSection {
        background: url('../images/section-2.png') no-repeat bottom center;
        background-size: cover;
        padding-bottom: 200px;
        img {
            margin-bottom: 25px;
        }
        p:not(.quote) {
            font-size: 16px;
            font-weight: 300;
        }
        span {
            font-size: 20px;
            font-weight: 700;
            color: #ff0000;
        }
        .quote {
            font-family: 'BambusLight', sans-serif;
            font-size: 28px;
            line-height: 1.2;
            text-shadow: 0 0 1px rgba($text, .5);
        }
    }

    &-thirdSection {
        background: url('../images/section-3.png') no-repeat top center;
        background-size: auto;
        padding-top: 200px;
        padding-bottom: 250px;
        margin-top: -200px;
        position: relative;
        z-index: 1;
        &-title {
            font-size: 40px;
            text-shadow: 0 0 1px rgba($text, .5);
            span {
                display: block;
                font-family: 'BambusLight', sans-serif;
            }
            @media (max-width: 560px) {
                font-size: 30px;
            }
        }
        &-list {
            list-style-type: none;
            margin-top: 80px;
            display: flex;
            flex-wrap: wrap;
            @media (max-width: 560px) {
                margin-top: 30px;
            }
        }
        &-item {
            width: 50%;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            img {
                width: 15%;
                margin-right: 10px;
            }
            p {
                font-size: 20px;
                text-shadow: 0 0 1px rgba($text, .5);
                margin-bottom: 0;
                line-height: 1.1;
            }
            @media (max-width: 560px) {
                width: 100%;
                p {
                    font-size: 18px;
                }
            }
        }
    }

    &-fourthSection {
        &-title {
            font-family: 'BambusLight', sans-serif;
            font-size: 40px;
            text-shadow: 0 0 1px rgba($text, .5);
            margin-bottom: 25px;
        }
        p {
            font-size: 16px;
            font-weight: 300;
            span {
                font-size: 20px;
                font-weight: 700;
                color: #ff0000;
            }
        }
    }

    &-fifthSection {
        background: url('../images/section-5-bg.png') no-repeat center;
        background-size: cover;
        img:first-child {
            width: 100%;
            margin-left: 30px;
            @media (max-width: 560px) {
                width: 150%;
                margin-left: -50%;
            }
        }
        &-right {
            padding-top: 80px;
            @media (max-width: 560px) {
                padding-top: 0;
                img {
                    width: 100%!important;
                    margin-left: 0!important;
                }
            }
        }
        &-title {
            font-family: 'BambusLight', sans-serif;
            font-size: 46px;
            text-shadow: 0 0 1px rgba($text, .5);
            margin-top: 10px;
            @media (max-width: 560px) {
                font-size: 32px;
            }
            span {
                display: inline-block;
                animation-duration: 0.5s;
                animation-name: wave;
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            $count: 30;
            $duration: 0.3;
            @for $i from 0 to $count {
                & :nth-child( #{$count}n + #{$i} ) {
                    animation-delay: 
                        -#{($count - $i) * 2 * $duration / $count }s;
                }
            }
        }
        &-description {
            display: block;
            font-style: italic;
            font-weight: 300;
        }
        &-list {
            list-style-type: none;
            margin-top: 15px;
        }
        &-item {
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            img {
                width: 45px!important;
                margin-right: 15px;
            }
            p {
                margin-bottom: 0;
                font-size: 18px;
                text-shadow: 0 0 1px rgba($text, .5);
            }
        }
    }

    &-sixthSection {
        &-list {
            list-style-type: none;
            margin: 40px 0 80px;
        }
        &-item {
            // animation: shake 4s infinite;
            // -webkit-animation: shake 4s infinite;
            // &:nth-child(2) {
            //     animation-direction: reverse;
            //     -webkit-animation-direction: reverse;
            //     animation-delay: 1s;
            // }
            img {
                max-width: 100%;
                @media (max-width: 560px) {
                    margin-bottom: 20px;
                }
            }
        }
    }

    &-seventhSection {
        background: url('../images/section-7-bg.png') no-repeat center;
        background-size: cover;
        @media (max-width: 560px) {
            background: url('../images/section-7-bg.png') no-repeat top center;
            background-size: 330%;
        }
        &-wrapper {
            max-width: 1470px;
            margin: 0 auto;
            width: 100%;
            position: relative;
            padding-top: 40px;
        }
        &-title {
            margin-bottom: 90px;
            // margin-top: 40px;
            @media (max-width: 560px) {
                width: 200%;
                margin-left: -50%;
                & + img {
                    width: 200%;
                    margin-left: -50%;
                }
            }
        }
        &-main {
            position: absolute;
            top: 0;
            left: 0;
            @media (max-width: 560px) {
                position: unset;
                margin-top: -100px;
            }
            .frame {
                width: 100%;
            }
            .item {
                position: absolute;
                width: 12.5170068%;
                cursor: pointer;
                margin: 0 auto;
                @media (max-width: 560px) {
                    position: unset;
                    width: 50%;
                }
                & > .item-text {
                    display: none;
                }
                img {
                    width: 100%;
                }
                &:hover,
                &:focus {
                    & + .item-text {
                        visibility: visible;
                        opacity: 1;
                        @media (max-width: 560px) {
                            max-height: 300px;
                        }
                    }   
                }
            }
            .item-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                max-width: 500px;
                padding: 15px;
                background-color: #fff;
                box-shadow: 0 0 5px rgba(0, 0, 0, .3);
                visibility: hidden;
                opacity: 0;
                transition: visibility 0s, opacity 0.6s;
                -moz-transition: visibility 0s, opacity 0.6s;
                -o-transition: visibility 0s, opacity 0.6s;
                -webkit-transition: visibility 0s, opacity 0.6s;
                span {
                    font-weight: 700;
                    display: block;
                    font-size: 18px;
                    margin-bottom: 10px;
                }
                @media (max-width: 560px) {
                    margin: 10px 0;
                    position: unset;
                    transform: none;
                    width: 100%;
                    max-height: 0;
                }
            }
            .item-1 {
                top: 0;
                left: 14.2857143%;
            }
            .item-2 {
                top: 17.2885572%;
                left: 0;
            }
            .item-3 {
                top: 48.5074627%;
                left: 0;
            }
            .item-4 {
                top: 68.4079602%;
                left: 13.6054422%;
            }
            .item-5 {
                top: 0;
                right: 14.2857143%;
            }
            .item-6 {
                top: 17.2885572%;
                right: 0;
            }
            .item-7 {
                top: 48.5074627%;
                right: 0;
            }
            .item-8 {
                top: 68.4079602%;
                right: 13.6054422%;
            }
        }
    }

    &-slider {
        &-title {
            position: absolute;
            top: 0;
            left: 10%;
            background: url('../images/slide-title.png') no-repeat center;
            background-size: contain;
            width: 80%;
            height: 160px;
            line-height: 130px;
            font-size: 30px;
            text-shadow: 0 0 1px rgba($text, .5);
            color: #fff;
            text-align: center;
            @media (max-width: 560px) {
                font-size: 16px;
                line-height: 140px;
                margin-top: -20px;
            }
        }
        &-item {
            max-width: 950px;
            position: relative;
            padding-top: 50px;
            img {
                width: 100%;
            }
            &:nth-child(2n) {
                .sensi-slider-title {
                    background: url('../images/slide-title-2.png') no-repeat center;
                }
            }
        }
        &-text {
            font-family: 'BambusLight', sans-serif;
            font-size: 30px;
            text-shadow: 0 0 1px rgba($text, .5);
            position: absolute;
            bottom: 10px;
            left: 0;
            right: 0;
            @media (max-width: 560px) {
                font-size: 16px;
                bottom: 5px;
            }
        }
        &-order {
            position: absolute;
            top: 70px;
            right: 30px;
            span {
                font-size: 36px;
                font-weight: 700;
                text-align: center;
                display: block;
            }
            @media (max-width: 560px) {
                right: 15px;
                .sensi-btn {
                    font-size: 14px;
                    height: 32px;
                    line-height: 30px;
                    width: 158px;
                }
                span {
                    font-size: 16px;
                }
            }
        }
        .swiper-wrapper {
            // padding: 0 calc((100% - 950px) / 2);
            // margin: 0 auto;
            @media (max-width: 560px) {
                padding: 0;
            }
        }
        .swiper-slide {
            transition: all 0.6s;
            -moz-transition: all 0.6s;
            -o-transition: all 0.6s;
            -webkit-transition: all 0.6s;
        }
        .swiper-slide.swiper-slide-prev, .swiper-slide.swiper-slide-next {
            opacity: .2;
        }
    }

    &-guide {
        margin-top: 80px;
        &-title {
            font-size: 24px;
            text-shadow: 0 0 1px rgba($text, .5);
            text-transform: uppercase;
        }
        &-description {
            color: #7d7d7d;
        }
    }

    &-contact {
        margin-top: 30px;
        .sensi-btn {
            width: 147px;
            background-image: url('../images/btn-small.png');
        }
        label {
            // font-size: 14px;
            text-shadow: 0 0 1px rgba($text, .5);
            width: 40%;
        }
        .form-control {
            width: 60%;
        }
        span {
            color: #dd1313;
        }
        @media (max-width: 560px) {
            .col-md-9 {
                background-image: none!important;
                margin-top: 20px;
            }
        }
    }

    &-footer {
        background-color: #000;
        line-height: 46px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        margin-top: 70px;
        @media (max-width: 560px) {
            font-size: 14px;
        }
    }

    &-video {
        video {
            max-width: 700px;
            width: 100%;
            display: block;
        }
        &-description {
            color: #7d7d7d;
            text-shadow: 0 0 1px rgba($text, .5);
            @media (max-width: 560px) {
                br {
                    display: none;
                }
            }
        }
    }
}

.modal {
    &-header {
        text-align: center;
    }
    &-body {
        p {
            text-align: center;
        }
    }
}